{% extends 'base.html' %}
{% block content %}



<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> User Signup</li>
        </ul>
    </div>
</section>

<section class="w3l-contact-11 py-5">
    <div class="contacts-main py-lg-5 py-md-4">
      <div class="contant11-top-bg">
        <div class="container">
             <div class="title-content text-center">
			 <font size="+1" color="red">{{msg}}
                <h6 class="sub-title">Signup</h6>
                <h3 class="title-big">User Account Registration</h3>
            </div>
<br><form method="post" action="/signup/">
	{% csrf_token %} <center>
				<table  width="50%" cellspacing="10">
                    <tr><td><input class="form-control"  type="text" name="name" placeholder="Name" required="required" ></input><br></td></tr>
                    <tr><td><input class="form-control"  type="email" name="mail" placeholder="Email, example@example.com" required="required" onblur="validate1()"></input><br></td></tr>
                    <tr><td><input class="form-control"  type="Password" name="pwd" minlength="6"  placeholder="Password" required="required" onblur="validate5()"></input><br></td></tr>
                    <tr><td>					
						<input type="text" name="tele"  class="form-control"  	pattern="[0-9]*" minlength="10" maxlength="10"   placeholder="Contact Number" required ></input><br></td></tr>
    <tr><td>					
						<input type="text" name="city"  class="form-control"  	   placeholder="City" required ></input><br></td></tr>

					<tr><td><br><input type="submit" class="form-control" value="Register">
                
</table>
</form>

{% endblock %}