{% extends 'userbase.html' %}
{% block content %}
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/adminhome">User Home</a></li>

        </ul>
    </div>
</section>
<section class="w3l-contact-11 py-5">
    <div class="contacts-main py-lg-5 py-md-4">
      <div class="contant11-top-bg">
        <div class="container">
           <div class="title-content text-center">
                <h3 class="sub-title">Welcome {{data.name}}</h6>
            </div>

<br><br><br>

{% endblock %}