{% extends 'adminbase.html' %}
{% block content %}

<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/adminhome">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Upload Dataset</li>
        </ul>
    </div>
</section>
<section class="w3l-contact-11 py-5">
    <div class="contacts-main py-lg-5 py-md-4">
      <div class="contant11-top-bg">
        <div class="container">
             <div class="title-content text-center">
                <h6 class="sub-title">Dataset</h6>
                <h3 class="title-big">Upload Dataset</h3>
            </div>
 
			


<center>
<font size="+1" color="red">{{msg}}</h2>


<form method="post" action="/xlupload/">
	{% csrf_token %} 
	<table width="50%"><tr><td>
	<input type="file" name="file" required class="form-control"  accept=".xlsx">
	<td><input class="form-control"   type="submit" value="Upload">
	</table>
</form>
<br><br><br><br><br>	


{% endblock %}